<div class="col-sm-6">
    <form name="signForm" novalidate>
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" name="FirstName" ng-model="$ctrl.firstName" required>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" name="LastName" ng-model="$ctrl.lastName" required>
        </div>
        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control" name="Email" ng-model="$ctrl.email" required>
        </div>
        <div class="form-group">
          <label>Phone Number</label>
          <input type="text" class="form-control" name="Phone" ng-model="$ctrl.phone" required>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.signUp();" ng-disabled="signForm.$invalid">Submit</button>
    </form>
</div>


